[Desktop Entry]
Name=Linxira OS Light
X-KDE-PluginInfo-Name=LinxiraOS-light
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Wallpapers
X-KDE-PluginInfo-License=GPL-3.0
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0
